html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

body {
  background: #F7FAFC;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  color: #4a5568;
}

* {
  font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.amino-tooltip {
  background: #4A5568 !important;
  border-radius: 8px !important;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
}
.amino-tooltip.__react_component_tooltip.place-right::after {
  border-right: 8px solid #4A5568 !important;
}
