html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  /*background: #F4F8FA;*/
  background: #F2F5F7;
  color: rgba(14,30,37,.87);
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
